body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    box-sizing: border-box;
}
.container {
    position: relative;
    width: 100%;
    height: 100%;
    
}
.container-wrapper {
    background:linear-gradient( rgba(0, 0, 0, 0.6) 100%, rgba(0, 0, 0, 0.6)100%),url('https://assets.nflxext.com/ffe/siteui/vlv3/7a33204b-893d-4792-8494-b9d6cbc73848/8ed3a98a-e2c2-488d-9583-93634199485d/IN-en-20210502-popsignuptwoweeks-perspective_alpha_website_small.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.logo-title img{
    margin-left: 20px;
    width: 200px;
}
.signin-form{
    width: 70vh;
    height: 100vh;
    background-color:rgb(0, 0, 0,0.8) ;
    border-radius: 3px;
    color: rgba(255, 255, 255);
    padding: 50px 60px;
}
.signin-form-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
form h1{
    font-size: 32px;
}
form input{
    width: 100%;
    padding: 15px;
    border: none;
    outline: none;
    background-color: rgb(63, 60, 60);
    border-radius: 5px;
    margin-top: 20px;
}
form button{
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #e50914;
    color: #fff;
    font-weight: bold;
}
ul{
    padding: 0;
    display: flex;
    justify-content: space-between;
}
ul li{
    list-style: none;
    color: #757575;
}
ul li a{
    color: #757575;
}
ul li a:hover{
    color: #757575;
    text-decoration: underline;
}
.social{
    padding-top: 50px;
}
.social .icon .fa{
    font-size: 24px;
    color: #4267B2;
    background-color: #fff;
    
    border: 0;
    outline: 0;
}
.social .icon >a{
    color:#757575;
    padding-left: 5px;
}
.icon >a:hover{
    color: #757575;
}
.social h4{
    color: #757575;
}
.social a{
    color: white;
}
.social a:hover{
    color: white;
    text-decoration: underline;
}
.social p > span{
    color: #0071eb;
}
.social p>span:hover{
    color: #0071eb;
    text-decoration: underline;
    cursor: pointer;
}
.box form div{
    position: relative;
}
.box form div label{
    position: absolute;
    top: 33px;
    left: 10px;
    transition: 0.1s ease;
    pointer-events: none;
    color: #757575;
}
.box input:focus ~ label{
    color: #757575;
    top: 20px;
    font-size: 10px;
}
@media only screen and (max-width: 800px){
    .container-wrapper {
        background:linear-gradient( rgba(0, 0, 0, 1) 100%, rgba(0, 0, 0, 1)100%),url('https://assets.nflxext.com/ffe/siteui/vlv3/7a33204b-893d-4792-8494-b9d6cbc73848/8ed3a98a-e2c2-488d-9583-93634199485d/IN-en-20210502-popsignuptwoweeks-perspective_alpha_website_small.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
    }
    .signin-form{
        width: 100vh;
        height: 100vh;
        
    }
    .footer-links{
        
        grid-template-columns: auto auto auto;
  }
  .signin-form-wrapper{
      border-bottom: 1px solid #757575;
  }
}

/*--------------------------------------------------------------------------------------------------------------------------------*/
.site-footer-wrapper{
    position: relative;
    background-color:rgb(0, 0, 0,0.8) ;
    color: white;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  .site-footer{
    margin: 50px 100px;
    display: block;
    width: 70%;
    color: #757575;
    font-size: 18px;

  }
  .site-footer a{
    color: #757575;
  }
  .footer-links{
        list-style: none;
        margin: 0;
        padding: 20px 0;
        display: grid;
        grid-template-columns: auto auto auto auto;
  }
  .footer-link-item{
      padding-bottom: 10px;
  }
  .footer-link-item a{
    color: #757575;
    font-size: 14px;
  }
  .footer-link-item a:hover{
      text-decoration: underline;
      color: #757575;
  }
  .list-button {
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.list-button select {
    margin: 0;
    border-radius: 2px;
    background-color: transparent;
    color: #757575;
    border: 1px solid #757575;
    padding:20px;
}
.list-button select option{
    background-color: black;
}
.site-footer p{
    margin-top: 20px;
    font-size: 14px;
}
.site-footer p>a:hover{
    text-decoration: underline;
      color: #757575;
}